$light-color: #FFFFFF
$dark-color: #515151
$bright-color: #00B4FF

$box-background: $light-color
$border-color: $dark-color

$box-border-radius: 20px
$box-full-page: 90%
$box-full-max-width: 1000px

@mixin clearfix
  &:after
    content: ""
    display: table
    clear: both

@mixin center-children
  display: flex
  justify-content: center
  align-items: center

@mixin distribute-children($justify)
  display: flex
  justify-content: $justify
  align-items: center


@mixin border-base
  border: 1px solid $border-color

@mixin the-box
  padding: 15px 20px
  margin: 20px 0
  background-color: $box-background
  border-radius: $box-border-radius
  @include border-base

body
  font-family: 'Questrial', "Helvetica Neue", Arial, Helvetica, sans-serif
  color: $dark-color
  background: url(image-path('code-background.jpg')) no-repeat center center
  @include center-children

.my-box
  @include the-box

.full-page-width
  width: $box-full-page
  max-width: $box-full-max-width

.btn
  background-color: $bright-color

section
  &.welcome
    header
      height: 90px

      & > h1, & > div
        height: 50px
        margin-top: 10px

      h1
        float: left
      div
        float: right

  &.dashboard
    font-size: 1.5em

    p
      float: right
      width: 85%

    img
      float: left
      height: 100px
      border-radius: $box-border-radius
      @include border-base

  header
    @include clearfix

  footer
    width: 100%
    padding-top: 10px
    border-top: 1px $border-color solid
    text-align: right
    margin-top: 10px
    @include center-children

    span
      float: left
      font-size: .75em
      width: 15%
